body{
    background-color: cornflowerblue;
}
header{
    background-color: deepskyblue;
    color: lawngreen;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
main{
    display: flex;
}
article{
    background-color: aquamarine(0, 255, 234);
}